#default-area.admin {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

#default-area > .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#dashboardSection {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}
#dashboardSection > .sub-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboardSection > .sub-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
}
#dashboardSection > .sub-title-bar > .button.small.link {
    background-color: #2563eb;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
}
#dashboardSection > .sub-title-bar > .button.small.link:hover {
    background-color: #1e40af;
}

#dashboardSection > .chart-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dashboardSection > .chart-wrapper > .chart {
    padding: 1rem;
    border: 0.0625rem solid #3a3a3a;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-start;

    background-color: #f5f6f6;
}

#dashboardSection > .chart-wrapper > .chart > .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dashboardSection > .chart-wrapper > .chart > .header > .title {
    margin: 0;
}

#dashboardSection > .chart-wrapper > .chart > .header > .reload > .icon {
    width: 1.3125rem;

    transition-duration: 250ms;
    transition-property: transform, top;
    transition-timing-function: ease;
}

#dashboardSection > .chart-wrapper > .chart > .header > .reload:hover > .icon {
    transform: rotateZ(180deg) scale(1.15);
}

#dashboardSection > .chart-wrapper > .chart > .header > .reload:active > .icon {
    transform: rotateZ(0deg) scale(0.9);
}

#dashboardSection > .chart-wrapper > .chart > .chart-pie {
}

#dashboardSection > .chart-wrapper > .chart:has(.chart-line) {
    flex-grow: 1;
}

#dashboardSection > .chart-wrapper > .chart > .chart-line {

}
