#default-area {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

#default-area > .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#default-area .subTitle {
    font-size: 1.25rem;
    font-weight: 600;
}

#profile-section {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    justify-content: flex-start;
}

#profile-section > .profile-info {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    font-size: 1.125rem;
    line-height: 1.625;
}

#profile-section > .profile-info > .label {
    font-weight: 600;
    /*color: #268DFA;*/
}

#profile-section > .button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#profile-section > .button-container > .-object-button {
    border-radius: 0.375rem;
}


#profileImageForm {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    justify-content: flex-start;

    position: relative;
}

#profileImageForm > .profile-image {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.125rem solid #268DFA;
}
#profileImageForm > .profile-image-input {
    display: none;
}

#profileImageForm > .-object-button {
    border-radius: 0.25rem;
    padding: 0.625rem 1.5rem;
}

#profileImageForm > .button-container {
    position: absolute;
    top: 8.125rem;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;

    align-items: stretch;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

#profileImageForm > .button-container[data-rb-visible] {
    display: flex;
}

#profileImageForm > .button-container > .btn {
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #ffffff;

    font-size: 0.875rem;
    font-weight: 600;
    color: #ffffff;

    cursor: pointer;

    opacity: 0.8;
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
}

#profileImageForm > .button-container > .btn:hover {
    opacity: 1;
}

#profileImageForm > .button-container > .btn:active {
    position: relative;
    top: 0.0625rem;
}

#profileImageForm > .button-container > .btn.apply {
    background-color: #268dfa;
    outline: 0.0625rem solid #3b82f6;
}

#profileImageForm > .button-container > .btn.cancel {
    background-color: #3a3d49;
    outline: 0.0625rem solid #30323a;
}

#activity-section {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

#activity-section > .summary-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: stretch;
}

#activity-section > .summary-wrapper > .summary-item {
    flex-grow: 1;

    padding: 1rem;
    text-align: center;

    border-radius: 0.75rem;
    background: #f7fbff;
    border: 0.125rem solid #268DFA33;
    box-shadow: 0 0.125rem 0.25rem #0000000C
}

#activity-section > .summary-wrapper > .summary-item > .summary-value {
    font-size: 1.5rem;
    font-weight: bold;
}

#activity-section > .summary-wrapper > .summary-item > .summary-label {
    font-size: 0.875rem;
    color: #555;
}

#reviews-section {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

#reviews-section > .header {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reviews-section > .header > .my-review-link {
    margin: 0 0.75rem 0.5rem 0;
    font-size: 1.0625rem;
    color: #888888;
    text-decoration: none;

    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: ease;
}
#reviews-section > .header > .my-review-link:hover {
    color: #268dfa;
    text-decoration: underline;
    transform: scale(1.03);
}

#reviews-section > .review-list {
    list-style: none;
    padding: 0;
    margin: 0;

    border-top: 0.0625rem solid #eeeeee;
}

#reviews-section > .review-list > .message-empty {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.75rem;

    text-align: center;
    color: #999999;
    font-size: 1rem;
    font-style: italic;
}

#reviews-section > .review-list > .message-empty > .empty-icon {
    width: 9rem;
}

#reviews-section > .review-list > .review-item {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;

    padding: 1rem;
    border-bottom: 0.0625rem solid #eeeeee;
}

#reviews-section > .review-list > .review-item > .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: stretch;
}

#reviews-section > .review-list > .review-item > .header > .title {
    font-weight: 700;
    color: #268DFA;
    margin-bottom: 0.25rem;
    margin-right: 1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#reviews-section > .review-list > .review-item > .header > .title:hover {
    text-decoration: underline;
    font-weight: 900;
}

#reviews-section > .review-list > .review-item > .header > .action {
    white-space: nowrap;
    font-weight: 500;
}

#reviews-section > .review-list > .review-item > .header > .action:hover {
    text-decoration: underline;
}

#reviews-section > .review-list > .review-item > .content > .date {
    font-size: 0.875rem;
    color: #4f4f4f;
    white-space: nowrap;
}

#reviews-section > .review-list > .review-item > .content {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: stretch;
}

#reviews-section > .review-list > .review-item > .content > .scope {
    display: inline-block;
    white-space: nowrap;
}

#reviews-section > .review-list > .review-item > .content > .scope > .star {
    width: 1rem;
}

#reviews-section > .review-list > .review-item > .content > .comment {
    font-size: 0.95rem;
    color: #444444;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

