<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/common/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/admin/assets/styles/index.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script defer src="/common/assets/scripts/common.js" rel="text/javascript"></script>
    <script defer src="/common/assets/scripts/dialog.js" rel="text/javascript"></script>
    <script defer src="/admin/assets/scripts/index.js" rel="text/javascript"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="default-area" class="admin">
    <h1 class="title">관리자 페이지</h1>

    <section id="dashboardSection">
        <div class="sub-title-bar">
            <h2 class="sub-title">📊 회원 통계</h2>
            <a href="/admin/user" class="button small link">회원 관리 바로가기</a>
        </div>
        <div class="chart-wrapper">
            <div class="chart">
                <!-- provider 별 회원 수 -->
                <div class="header">
                    <h3 class="title">소셜 로그인 비율</h3>
                    <button class="reload" id="reloadUserProvider" type="button">
                        <img class="icon" src="/admin/assets/images/dashboard-reload.png" alt="reload">
                    </button>
                </div>
                <div class="chart-pie" id="userProvider"></div>
            </div>

            <div class="chart">
                <!-- 회원 성별 비율 -->
                <div class="header">
                    <h3 class="title">회원 성별 비율</h3>
                    <button class="reload" id="reloadUserGender" type="button">
                        <img class="icon" src="/admin/assets/images/dashboard-reload.png" alt="reload">
                    </button>
                </div>
                <div class="chart-pie" id="userGender"></div>
            </div>

            <div class="chart">
                <!-- 회원 성별 비율 -->
                <div class="header">
                    <h3 class="title">회원 연령 비율</h3>
                    <button class="reload" id="reloadUserAgeGroup" type="button">
                        <img class="icon" src="/admin/assets/images/dashboard-reload.png" alt="reload">
                    </button>
                </div>
                <div class="chart-pie" id="userAgeGroup"></div>
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="chart">
                <!-- 날짜 별 회원가입한 회원 수 -->
                <div class="header">
                    <h3 class="title">일별 회원가입 수</h3>
                    <button class="reload" id="reloadDailyUserRegister" type="button">
                        <img class="icon" src="/admin/assets/images/dashboard-reload.png" alt="reload">
                    </button>
                </div>
                <div class="chart-line" id="dailyUserRegister"></div>
            </div>
        </div>

        <!--        <h2 class="sub-title">책 통계</h2>-->
        <!--        <div class="chart-wrapper">-->
        <!--            -->
        <!--        </div>-->

        <h2 class="sub-title">리뷰 통계</h2>
        <div class="chart-wrapper">
            <div class="chart">
                <!-- 날짜 별 등록 리뷰 수 -->
                <div class="header">
                    <h3 class="title">일별 리뷰 등록 수</h3>
                    <button class="reload" id="reloadDailyReviewRegister" type="button">
                        <img class="icon" src="/admin/assets/images/dashboard-reload.png" alt="reload">
                    </button>
                </div>
                <div class="chart-line" id="dailyReviewRegister"></div>
            </div>
        </div>
    </section>
</div>
</body>
</html>