<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Re:Book(리뷰 게시판)</title>
    <link href="/common/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/review/assets/styles/index.css" rel="stylesheet" type="text/css">
    <script defer src="/common/assets/scripts/common.js" type="module"></script>
    <script defer src="/review/assets/scripts/index.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="default-area">
    <form id="button-form">
        <div class="button-container">
            <label class="button-label">
                <input type="radio" name="sortType" value="0" th:checked="${reviewPageButtonVo.sortType eq 0}">
                <span class="caption">제목순</span>
            </label>
            <label class="button-label">
                <input type="radio" name="sortType" value="1" th:checked="${reviewPageButtonVo.sortType eq 1}">
                <span class="caption">별점순</span>
            </label>
            <label class="button-label">
                <input type="radio" name="sortType" value="2" th:checked="${reviewPageButtonVo.sortType eq 2}">
                <span class="caption">닉네임순</span>
            </label>
            <label class="button-label">
                <input type="radio" name="sortType" value="3" th:checked="${reviewPageButtonVo.sortType eq 3}">
                <span class="caption">작성일순</span>
            </label>
            <span class="-flex-stretch"></span>
            <label class="button-label">
                <input type="checkbox" name="sort" th:checked="${reviewPageButtonVo.sort eq 'ASC'}">
                <span class="caption">오름차순</span>
            </label>
            <label class="button-label" th:if="${signedUser != null}">
                <input type="checkbox" name="mine" th:checked="${reviewPageButtonVo.mine}">
                <span class="caption">내 작성글</span>
            </label>
        </div>
    </form>
    <div id="result-container" th:if="${reviews.length == 0 || reviews == null}">
        <span class="result">작성된 리뷰가 없습니다.</span>
    </div>
    <div id="grid-container">
        <div class="item" th:each="review : ${reviews}">
            <a th:href="@{'/book/' (id=${review.bookId})}" class="detail">
                <div class="first">
                    <img th:src="${review.cover}" alt="#"
                         class="cover">
                </div>
                <div class="second">
                    <span class="title" th:text="${review.bookTitle}"></span>
                    <span class="content" th:text="${review.comment}"></span>
                    <div class="user-scope">
                        <span class="nickname" th:text="${review.nickname}"></span>
                        <span class="scope">
                            <img class="star" src="/review/assets/images/star-fill.png" alt="fill"
                                 th:each="i : ${#numbers.sequence(1, review.scope)}"><img class="star"
                                                                                          src="/review/assets/images/star-empty.png"
                                                                                          alt="empty"
                                                                                          th:if="${review.scope < 5}"
                                                                                          th:each="i : ${#numbers.sequence(1, 5 - review.scope)}">
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="pageContainer" th:if="${reviews != null && reviews.length > 0}">
        <a class="page" th:each="reviewPage : ${#numbers.sequence(1, reviewPageVo.maxPage)}"
           th:text="${reviewPage}"
           th:href="@{/review/ (page = ${reviewPage}, sort=${reviewPageButtonVo.sort}, mine=${reviewPageButtonVo.mine})}"
           th:classappend="${reviewPage == reviewPageVo.page}? '-selected'"></a>
    </div>
</div>
</body>
</html>