<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Re:Book - 리뷰 수정</title>
    <link href="/common/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/review/assets/styles/modify.css" rel="stylesheet" type="text/css">
    <script defer src="/common/assets/scripts/common.js" type="module"></script>
    <script defer src="/common/assets/scripts/dialog.js"></script>
    <script defer src="/review/assets/scripts/modify.js" type="module"></script>
</head>
<body>
<form novalidate id="reviewModifyForm">
    <input type="hidden" name="id" th:value="${review.id}">
    <h1 class="title">리뷰 수정하기</h1>

    <span class="caption">평점</span>
    <div class="scope-area">
        <th:block th:each="i : ${#numbers.sequence(1, 5)}">
            <img class="star"
                 th:src="${i <= review.scope ? '/review/assets/images/star-fill.png' : '/review/assets/images/star-empty.png'}"
                 th:alt="${i <= review.scope ? 'fill' : 'empty'}">
        </th:block>
        <input type="hidden" th:value="${review.scope}" name="scope">
    </div>

    <span class="scope-guide">
        최고에요
    </span>

    <span class="caption">리뷰 평가</span>
    <label class="-object-label">
        <textarea required class="-object-field ---field" minlength="1" maxlength="100"
                  name="comment" placeholder="리뷰를 입력해 주세요." rows="4" th:text="${review.comment}"></textarea>
        <span class="count">0/100</span>
    </label>

    <button class="-object-button -color-blue" type="submit">
        <span class="--caption">리뷰 수정하기</span>
    </button>
</form>
</body>
</html>