<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dev.rebook.mappers.UserMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `rebook`.`users` (email, password, name, provider, provider_id, profile_img, nickname,
                                      contact_mvno_code, contact_first, contact_second, contact_third, birth,
                                      address_postal, address_primary, address_secondary, gender, term_agreed_at,
                                      category_id, is_admin, is_deleted, is_suspended, created_at, modified_at,
                                      last_signed_at, last_signed_ua)
        VALUES (#{user.email}, #{user.password}, #{user.name}, #{user.provider}, #{user.providerId}, #{user.profileImg},
                #{user.nickname}, #{user.contactMvnoCode}, #{user.contactFirst}, #{user.contactSecond},
                #{user.contactThird}, #{user.birth}, #{user.addressPostal}, #{user.addressPrimary},
                #{user.addressSecondary}, #{user.gender}, #{user.termAgreedAt}, #{user.categoryId}, #{user.isAdmin},
                #{user.isDeleted}, #{user.isSuspended}, #{user.createdAt}, #{user.modifiedAt}, #{user.lastSignedAt},
                #{user.lastSignedUa})

    </insert>

    <update id="update">
        UPDATE `rebook`.`users`
        SET `email`             = #{user.email},
            `password`          = #{user.password},
            `name`              = #{user.name},
            `provider`          = #{user.provider},
            `provider_id`       = #{user.providerId},
            `profile_img`       = #{user.profileImg},
            `nickname`          = #{user.nickname},
            `contact_mvno_code` = #{user.contactMvnoCode},
            `contact_first`     = #{user.contactFirst},
            `contact_second`    = #{user.contactSecond},
            `contact_third`     = #{user.contactThird},
            `birth`             = #{user.birth},
            `address_postal`    = #{user.addressPostal},
            `address_primary`   = #{user.addressPrimary},
            `address_secondary` = #{user.addressSecondary},
            `gender`            = #{user.gender},
            `term_agreed_at`    = #{user.termAgreedAt},
            `category_id`       = #{user.categoryId},
            `is_admin`          = #{user.isAdmin},
            `is_deleted`        = #{user.isDeleted},
            `is_suspended`      = #{user.isSuspended},
            `created_at`        = #{user.createdAt},
            `modified_at`       = #{user.modifiedAt},
            `last_signed_at`    = #{user.lastSignedAt},
            `last_signed_ua`    = #{user.lastSignedUa}
        WHERE `id` = #{user.id}
        LIMIT 1
    </update>
    <update id="editUser">
        UPDATE `rebook`.`users`
        SET
            `name` = #{name},
            `nickname` = #{nickname},
            `gender` = #{gender},
            `birth` = #{birth},
            `contact_mvno_code` = #{contactMvnoCode},
            `contact_first` = #{contactFirst},
            `contact_second` = #{contactSecond},
            `contact_third` = #{contactThird},
            `last_signed_at` = #{lastSignedAt},
            `is_admin` = #{admin},
            `is_deleted` = #{deleted},
            `is_suspended` = #{suspended},
            `modified_at` = NOW()
        WHERE `id` = #{id}
        LIMIT 1
    </update>

    <select id="selectLocalUserByContact" resultType="com.dev.rebook.entities.UserEntity">
        SELECT `id`                AS `id`,
               `email`             AS `email`,
               `password`          AS `password`,
               `name`              AS `name`,
               `provider`          AS `provider`,
               `provider_id`       AS `providerId`,
               `profile_img`       AS `profileImg`,
               `nickname`          AS `nickname`,
               `contact_mvno_code` AS `contactMvnoCode`,
               `contact_first`     AS `contactFirst`,
               `contact_second`    AS `contactSecond`,
               `contact_third`     AS `contactThird`,
               `birth`             AS `birth`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender`            AS `gender`,
               `term_agreed_at`    AS `termAgreedAt`,
               `category_id`       AS `categoryId`,
               `is_admin`          AS `isAdmin`,
               `is_deleted`        AS `isDeleted`,
               `is_suspended`      AS `isSuspended`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `last_signed_at`    AS `lastSignedAt`,
               `last_signed_ua`    AS `lastSignedUa`
        FROM `rebook`.`users`
        WHERE `contact_first` = #{contactFirst}
          AND `contact_second` = #{contactSecond}
          AND `contact_third` = #{contactThird}
          AND `provider` = 'local'
        LIMIT 1
    </select>

    <select id="selectLocalUserByEmail" resultType="com.dev.rebook.entities.UserEntity">
        SELECT `id`                AS `id`,
               `email`             AS `email`,
               `password`          AS `password`,
               `name`              AS `name`,
               `provider`          AS `provider`,
               `provider_id`       AS `providerId`,
               `profile_img`       AS `profileImg`,
               `nickname`          AS `nickname`,
               `contact_mvno_code` AS `contactMvnoCode`,
               `contact_first`     AS `contactFirst`,
               `contact_second`    AS `contactSecond`,
               `contact_third`     AS `contactThird`,
               `birth`             AS `birth`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender`            AS `gender`,
               `term_agreed_at`    AS `termAgreedAt`,
               `category_id`       AS `categoryId`,
               `is_admin`          AS `isAdmin`,
               `is_deleted`        AS `isDeleted`,
               `is_suspended`      AS `isSuspended`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `last_signed_at`    AS `lastSignedAt`,
               `last_signed_ua`    AS `lastSignedUa`
        FROM `rebook`.`users`
        WHERE `email` = #{email}
        AND `provider` = 'local'
        LIMIT 1
    </select>

    <select id="selectUserByProviderId" resultType="com.dev.rebook.entities.UserEntity">
        SELECT `id`                AS `id`,
               `email`             AS `email`,
               `password`          AS `password`,
               `name`              AS `name`,
               `provider`          AS `provider`,
               `provider_id`       AS `providerId`,
               `profile_img`       AS `profileImg`,
               `nickname`          AS `nickname`,
               `contact_mvno_code` AS `contactMvnoCode`,
               `contact_first`     AS `contactFirst`,
               `contact_second`    AS `contactSecond`,
               `contact_third`     AS `contactThird`,
               `birth`             AS `birth`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `gender`            AS `gender`,
               `term_agreed_at`    AS `termAgreedAt`,
               `category_id`       AS `categoryId`,
               `is_admin`          AS `isAdmin`,
               `is_deleted`        AS `isDeleted`,
               `is_suspended`      AS `isSuspended`,
               `created_at`        AS `createdAt`,
               `modified_at`       AS `modifiedAt`,
               `last_signed_at`    AS `lastSignedAt`,
               `last_signed_ua`    AS `lastSignedUa`
        FROM `rebook`.`users`
        WHERE `provider` = #{provider}
          AND `provider_id` = #{providerId}
        LIMIT 1
    </select>

    <select id="selectLocalUserCountByEmail" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `rebook`.`users`
        WHERE `email` = #{email}
          AND `provider` = 'local'
    </select>

    <select id="selectCountByEmail" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `rebook`.`users`
        WHERE `email` = #{email}
    </select>

    <select id="selectCountByNickname" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `rebook`.`users`
        WHERE `nickname` = #{nickname}
    </select>

    <select id="selectCountByContact" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `rebook`.`users`
        WHERE `contact_first` = #{contactFirst}
          AND `contact_second` = #{contactSecond}
          AND `contact_third` = #{contactThird}
    </select>

    <select id="selectProviderStats" resultType="com.dev.rebook.dtos.dashboard.ProviderStatsDto">
        SELECT `provider` AS `provider`,
               COUNT(0)   AS `userCount`
        FROM `rebook`.`users`
        GROUP BY `provider`
    </select>

    <select id="selectGenderStats" resultType="com.dev.rebook.dtos.dashboard.GenderStatsDto">
        SELECT `gender` AS `gender`,
               COUNT(0) AS `userCount`
        FROM `rebook`.`users`
        GROUP BY `gender`
    </select>

    <select id="selectAgeGroupStats" resultType="com.dev.rebook.dtos.dashboard.AgeGroupStatsDto">
        SELECT CONCAT(FLOOR(TIMESTAMPDIFF(YEAR, `birth`, CURDATE()) / 10) * 10, '대') AS `ageGroup`,
               COUNT(0)                                                              AS `userCount`
        FROM `rebook`.`users`
        GROUP BY `ageGroup`
    </select>

    <select id="selectDailyUserRegisterStats"
            resultType="com.dev.rebook.dtos.dashboard.DailyUserRegisterStatsDto">
        SELECT DATE(`created_at`) AS `date`,
               COUNT(0)     AS `userCount`
        FROM `rebook`.`users`
        <where>
            <if test="from != null">
                AND DATE(`created_at`) &gt;= #{from}
            </if>
            <if test="to != null">
                AND DATE(`created_at`) &lt;= #{to}
            </if>
        </where>
        GROUP BY `date`
    </select>
    <select id="selectAllUser" resultType="com.dev.rebook.dtos.user.UserDto">
        SELECT `id` AS `id`,
               `email` AS `email`,
               `name` AS `name`,
               `provider` AS `provider`,
               `nickname` AS `nickname`,
               `gender` AS `gender`,
               `birth` AS `birth`,
               `contact_mvno_code` AS `contactMvnoCode`,
               `contact_first` AS `contactFirst`,
               `contact_second` AS `contactSecond`,
               `contact_third` AS `contactThird`,
               `created_at` AS `createdAt`,
               `last_signed_at` AS `lastSignedAt`,
               `is_admin` AS `isAdmin`,
               `is_deleted` AS `isDeleted`,
               `is_suspended` AS `isSuspended`
        FROM `rebook`.`users`
        LIMIT #{reviewPageVo.rowCount} OFFSET #{reviewPageVo.dbOffset}
    </select>
    <select id="selectUserById" resultType="com.dev.rebook.dtos.user.UserDto">
        SELECT `id`                AS `id`,
               `email`             AS `email`,
               `password`          AS `password`,
               `name`              AS `name`,
               `provider`          AS `provider`,
               `nickname`          AS `nickname`,
               `gender`            AS `gender`,
               `birth`             AS `birth`,
               `contact_mvno_code` AS `contactMvnoCode`,
               `contact_first`     AS `contactFirst`,
               `contact_second`    AS `contactSecond`,
               `contact_third`     AS `contactThird`,
               `created_at`        AS `createdAt`,
               `last_signed_at`    AS `lastSignedAt`,
               `is_admin`          AS `isAdmin`,
               `is_deleted`        AS `isDeleted`,
               `is_suspended`      AS `isSuspended`
        FROM `rebook`.`users`
        WHERE id = #{id}
    </select>
    <select id="selectCountAllUsers" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `rebook`.`users`
    </select>
</mapper>