<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Re:Book</title>
    <link href="/common/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/book/assets/styles/index.css" rel="stylesheet" type="text/css">
    <script defer src="/common/assets/scripts/common.js" rel="text/javascript"></script>
    <script defer src="/common/assets/scripts/dialog.js" rel="text/javascript"></script>
    <script defer src="/book/assets/scripts/index.js" rel="text/javascript"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="default-area" class="book-detail">
    <h1 class="title" th:text="${book.title}"></h1>

    <div class="info-wrapper">
        <img class="cover" th:src="${book.cover}" th:alt="${book.title}">
        <table class="book-info -flex-stretch">
            <tbody>
            <tr>
                <th>저자</th>
                <td th:text="${book.author}"></td>
            </tr>
            <tr>
                <th>출판사</th>
                <td th:text="${book.publisher}"></td>
            </tr>
            <tr>
                <th>출간일</th>
                <td th:text="${book.pubDate}"></td>
            </tr>
            <tr>
                <th>판매가</th>
                <td th:text="${book.priceSales}"></td>
            </tr>
            <tr>
                <th>구매처</th>
                <td th:text="${book.mallType}"></td>
            </tr>
            <tr>
                <th>책 링크</th>
                <td><a class="link" th:href="${book.link}" target="_blank">책 자세히 보기</a></td>
            </tr>
            <tr>
                <th>책 소개</th>
                <td th:text="${book.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="review-header">
        <h2 class="sub-title" th:text="|리뷰 (${reviews.length})|">리뷰 (0)</h2>
        <button class="-object-button -color-blue" name="reviewRegisterButton" type="button">
            <span class="--caption">리뷰 등록하기</span>
        </button>
    </div>

    <div id="reviewContainer">
        <div class="message-empty" th:if="${reviews.length == 0 || reviews == null}">
            <img  class="empty-icon" src="/review/assets/images/empty-review.png" alt="리뷰 없음">
            <p class="empty-text">작성된 리뷰가 없습니다.</p>
        </div>
        <div class="review" th:each="review:${reviews}">
            <div class="head">
                <img th:src="${review.profileImg != null ? review.profileImg : '/user/assets/images/profile-sample.png'}"
                     alt="프로필 이미지" class="profile-image">
                <div class="info-wrapper -flex-stretch">
                    <div class="info">
                        <span class="writer" th:text="${review.nickname}"></span>
                        <span class="-flex-stretch"></span>
                        <span class="timestamp" th:text="${#temporals.format(review.reviewDate)}"></span>
                    </div>
                    <div class="info">
                        <span class="scope">
                            <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                <img class="star"
                                    th:src="${i <= review.scope ? '/review/assets/images/star-fill.png' : '/review/assets/images/star-empty.png'}"
                                     th:alt="${i <= review.scope ? 'fill' : 'empty'}">
                            </th:block>
                        </span>
                        <span class="-flex-stretch"></span>
                        <th:block th:if="${review.hasPermission}">
                            <button class="action modify" th:attr="data-rb-id=${review.id}">수정</button>
                            <button class="action delete" th:attr="data-rb-id=${review.id}">삭제</button>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="body">
                <span class="comment" th:text="${review.comment}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
