<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Re:Book(키워드 검색)</title>
    <link href="/common/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/book/assets/styles/search.css" rel="stylesheet" type="text/css">
    <script defer src="/common/assets/scripts/common.js" type="module"></script>
    <script defer src="/book/assets/scripts/search.js"></script>
    <script defer src="/chatbot/assets/scripts/chat.js"></script>
    <script defer src="/common/assets/scripts/dialog.js"></script>

</head>
<body>
<th:block th:replace="~{/fragments/header :: header}">
</th:block>
<div id="default-area">
    <section id="chatbot" class="chatbot">
        <div class="chatbot-layout">
            <div class="chat-view chat-intro-view" data-view="intro" data-rb-visible>
                <div class="intro-header">
                    <div class="chat-logo">
                            <span class="title">Re
                            <span class="subTitle">:view</span>Book</span>

                    </div>
                    <div class="intro-help">
                        <p class="intro-title">안녕하세요 👋</p>
                        <p class="intro-subtitle">무엇을 도와드릴까요?</p>
                    </div>
                    <button class="chat-close-button" aria-label="닫기">&times;</button>
                </div>
                <div class="intro-body">
                    <p class="intro-desc">
                        ReBook 챗봇은 책 추천부터 키워드 검색, 사용 안내까지 도와주는 AI 도우미입니다. <br>
                        궁금한 점을 물어보거나 관심 있는 분야를 입력해보세요. <br>
                        아래 기능들을 통해 더 쉽고 빠르게 원하는 정보를 찾을 수 있어요.
                    </p>
                    <ul class="intro-feature-list">
                        <li class="item">
                            <button class="feature-button" data-target="main">
                                <span class="caption">📚챗봇 도서 추천</span>
                            </button>
                            <span class="sub-caption">"어떤 책을 읽을지 고민이라면? 챗봇에게 물어보세요"</span>
                        </li>
                        <li class="item">
                            <button class="feature-button" data-target="room">
                                <span class="caption">💬채팅방 관리</span>
                            </button>
                            <span class="sub-caption">"지금까지 나눈 대화들을 확인해보세요"</span>
                        </li>
                    </ul>
                </div>
                <div class="intro-message">
                    <div class="-flex-stretch"></div>
                    <div class="intro-action">
                        <button id="startChatBtn" class="-object-button -color-blue"
                                th:text="${session.signedUser != null} ? '메세지 입력 ㄱㄱ' : '로그인 후 이용 가능합니다.'"
                                th:classappend="${session.signedUser == null} ? 'danger-text' : ''"></button>
                    </div>
                </div>
            </div>
            <div class="chat-view chat-main-view" data-view="main">
                <div class="chat-messages" id="chat-message">
                    <div class="chat-form-header">
                        <button class="chat-back-button">
                            <img src="/chatbot/assets/images/back.png" alt="back" class="chat-form-back chat-form-img">
                        </button>
                        <img src="/chatbot/assets/images/chatbotIcon.png" alt="rebook"
                             class="chat-form-icon chat-form-img">
                        <div class="chat-form-header-span">
                            <span class="title">Re:Book</span>
                            <span class="caption">생성형 AI 답변이므로 정확하지 않을 수 있습니다.</span>
                        </div>
                        <button class="chat-close-button" aria-label="닫기">&times;</button>
                    </div>
                    <button name="refresh" type="button" hidden></button>
                    <ul class="list"></ul>
                </div>
                <form class="user-input" id="chatForm" novalidate>
                    <label class="-object-chat-label">
                        <input type="text" name="message" placeholder="메시지를 입력하세요"
                               class="--object-input" maxlength="100" autocomplete="off"/>
                        <button type="submit" class="-object-button -color-blue">전송</button>
                    </label>
                </form>
            </div>
            <div class="chat-view chat-room-view" data-view="room">
                <button class="chat-close-button" aria-label="닫기">&times;</button>
                <ul id="chatRoomList" class="chat-room-list">
                    <li class="item">ㅋㅋ</li>
                    <li class="item">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                </ul>
            </div>
            <div class="chat-category" id="chatCategory" data-rb-visible>
                <div class="-button-container chat-list">
                    <button class="category-item" data-target="intro">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="chat-icon" width="100"
                             height="100">
                            <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                               stroke-linejoin="round">
                                <path d="M10 22 L25 10 L40 22 V40 H10 Z"/>
                                <rect x="21" y="28" width="8" height="12"/>
                            </g>
                        </svg>
                        <span class="caption">홈</span>
                    </button>
                    <button class="category-item" data-target="room">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="chat-icon" width="100"
                             height="100">
                            <g fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                               stroke-linejoin="round">
                                <!-- 말풍선 외곽 -->
                                <path d="M10 10h30a5 5 0 0 1 5 5v20a5 5 0 0 1-5 5H20l-8 6v-6h-2a5 5 0 0 1-5-5V15a5 5 0 0 1 5-5z"/>
                                <!-- 메시지 줄 -->
                                <line x1="16" y1="20" x2="34" y2="20"/>
                                <line x1="16" y1="28" x2="30" y2="28"/>
                            </g>
                        </svg>
                        <span class="caption">메시지</span>
                    </button>
                    <button class="category-item" data-target="help">
                        <svg class="chat-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100"
                             height="100" viewBox="0 0 50 50">
                            <g transform="translate(0,48) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                                <path d="M140 433 c-151 -79 -160 -289 -16 -377 143 -89 322 4 334 172 8 119
                     -83 221 -206 230 -48 3 -66 -1 -112 -25z m178 -8 c104 -44 151 -167 103 -270
                     -71 -153 -291 -153 -362 0 -33 72 -19 166 34 224 52 56 151 76 225 46z"/>
                                <path d="M202 344 c-12 -8 -22 -22 -22 -30 0 -19 26 -18 34 2 3 9 15 14 28 12
                     31 -4 35 -41 9 -74 -23 -29 -29 -78 -8 -72 6 3 14 13 16 24 2 10 12 30 22 43
                     53 66 -11 143 -79 95z"/>
                                <path d="M225 150 c-8 -14 3 -30 21 -30 8 0 14 9 14 20 0 21 -24 28 -35 10z"/>
                            </g>
                        </svg>
                        <span class="caption">도움말</span>
                    </button>
                </div>
            </div>
            <div class="chat-view chat-room-info" data-view="help">
                <div class="title">
                    <h2 class="title">도움말</h2>
                    <button class="chat-close-button" aria-label="닫기">&times;</button>
                </div>
                <div class="info-list">
                    <ul class="list">
                        <li class="item" data-key="service">
                            📘 Re:Book은 어떤 서비스인가요?
                        </li>
                        <li class="item" data-key="recommend">
                            📚 책 추천은 어떤 기준으로 이뤄지나요?
                        </li>
                        <li class="item" data-key="chatbot">
                            🧠 챗봇은 어떻게 동작하나요?
                        </li>
                        <li class="item" data-key="privacy">
                            🔐 개인정보는 안전한가요?
                        </li>
                        <li class="item" data-key="delete">
                            👤 회원 탈퇴는 어떻게 하나요?
                        </li>
                    </ul>


                </div>


            </div>
        </div>
        <span class="chatbot-icon">
        <img src="/chatbot/assets/images/chatbotIcon.png" alt="챗봇" class="icon">
    </span>
    </section>
    <form novalidate id="searchForm">
        <div class="search">
            <label class="-object-label">
                <input autocomplete="off" maxlength="50" minlength="0" name="keyword"
                       placeholder="검색어를 입력해 주세요." type="text" class="-object-field --field" th:value="${keyword}">
            </label>
            <button class="-object-button -color-blue" type="submit">검색</button>
        </div>
        <div class="detail">
            <label class="-object-label">
                <select class="-object-field" name="searchType">
                    <option hidden selected value="-1" th:selected="${searchVo == null || searchVo.getSearchType() eq '-1'}">검색어 종류</option>
                    <option value="keyword" th:selected="${searchVo != null && searchVo.getSearchType() eq 'keyword'}">제목+저자</option>
                    <option value="title" th:selected="${searchVo != null && searchVo.getSearchType() eq 'title'}">제목</option>
                    <option value="author" th:selected="${searchVo != null && searchVo.getSearchType() eq 'author'}">저자</option>
                    <option value="publisher" th:selected="${searchVo != null && searchVo.getSearchType() eq 'publisher'}">출판사</option>
                </select>
            </label>
            <label class="-object-label">
                <select class="-object-field" name="searchTarget">
                    <option hidden selected value="-1" th:selected="${searchVo == null || searchVo.getSearchTarget() eq '-1'}">검색 대상</option>
                    <option value="book" th:selected="${searchVo != null && searchVo.getSearchTarget() eq 'book'}">도서</option>
                    <option value="foreign" th:selected="${searchVo != null && searchVo.getSearchTarget() eq 'foreign'}">외국도서</option>
                    <option value="eBook" th:selected="${searchVo != null && searchVo.getSearchTarget() eq 'eBook'}">전자책</option>
                </select>
            </label>
            <label class="-object-label">
                <select class="-object-field" name="sort">
                    <option hidden selected value="-1" th:selected="${searchVo == null || searchVo.getSort() eq '-1'}">정렬 순서</option>
                    <option value="accuracy" th:selected="${searchVo != null && searchVo.getSort() eq 'accuracy'}">관련도</option>
                    <option value="publishTime" th:selected="${searchVo != null && searchVo.getSort() eq 'publishTime'}">출간일</option>
                    <option value="title" th:selected="${searchVo != null && searchVo.getSort() eq 'title'}">제목</option>
                    <option value="salesPoint" th:selected="${searchVo != null && searchVo.getSort() eq 'salesPoint'}">판매량</option>
                </select>
            </label>
        </div>
    </form>
    <div id="result-container" th:if="${books == null or (books != null and books.length == 0)}">
        <span class="result initial" th:if="${books == null}">검색어를 입력해 주세요.</span>
        <span class="result noResult" th:if="${books != null and books.length == 0}">검색결과가 없습니다.</span>
    </div>
    <div id="grid-container" th:if="${books != null and books.length > 0}">
        <div class="item" th:each="book : ${books}">
            <div class="item-bg-area"></div>
            <a th:href="@{'/book/' (id=${book.id})}" class="detail">
                <div class="box">
                    <img class="img" th:src="${book.cover}" th:alt="${book.title}">
                </div>
                <span class="title" th:text="${book.title}"></span>
                <span class="author" th:text="${book.author}"></span>
            </a>
        </div>
    </div>
</div>
</body>
</html>
