#header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    top: 0;
    backdrop-filter: blur(0.25rem);
    background-color: rgba(240.34375, 242.4375, 244.53125, 0.625);
    padding: 1.25rem 1.5rem;
    position: sticky;
}
#header > * {
    flex-grow: 0;
    flex-shrink: 0;
}
#header > .-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1;
}
#header > .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
}
#header > .menu > * {
    flex-grow: 0;
    flex-shrink: 0;
}
#header > .menu > .-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1;
}