@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "object/object-button.css";
@import "object/object-dialog.css";
@import "object/object-field.css";
@import "object/object-label.css";

.-flex-stretch {
    flex-grow: 1;
    flex-shrink: 1;
}

a[href] {
    color: inherit;
    text-decoration: none;
}

button, input, select, textarea {
    background-color: initial;
    border: initial;
    color: inherit;
    font: inherit;
    margin: initial;
    margin-block: initial;
    margin-inline: initial;
    letter-spacing: initial;
    outline: initial;
    padding: initial;
    padding-block: initial;
    padding-inline: initial;
    text-indent: initial;
    text-shadow: initial;
    text-transform: initial;
    word-spacing: initial;
}


ol, ul {
    list-style: none;
    margin-block: initial;
    padding-inline: initial;
}