.-object-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(0.5rem);
    background-color: #e5e5e5bb;
    gap: 1rem;
}

.-object-loading .icon {
    width: 4rem;
    height: 4rem;
}

.-object-loading[data-rb-visible] {
    opacity: 1;
    pointer-events: auto;
}

.-object-loading[data-rb-visible] .icon,
.-object-loading[data-rb-visible] .caption {
    top: 0;
    opacity: 1;
}

.-object-loading .icon,
.-object-loading .caption {
    top: 0.5rem;
    opacity: 0;
    position: relative;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.-object-loading .caption {
    font-size: 1.5rem;
    font-weight: 600;
}
