<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Re:Book</title>
    <link href="/common/assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="/user/assets/styles/modify.css" rel="stylesheet" type="text/css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/common/assets/scripts/common.js" type="module"></script>
    <script defer src="/common/assets/scripts/dialog.js"></script>
    <script defer src="/user/assets/scripts/modify.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header :: header}"></th:block>
<div id="addressFindDialog" class="">
    <div class="modal">
    </div>
</div>
<div id="default-area" class="modify">
    <form novalidate id="modifyForm">
        <h1 class="title">회원 정보 수정</h1>

        <div class="input-wrapper">
            <label class="-object-label">
                <span class="--caption">닉네임</span>
                <span class="--row">
                <input required autocomplete="off" class="-object-field -flex-stretch" maxlength="10" minlength="1"
                       name="nickname" type="text" th:pattern="${T(com.dev.rebook.regexes.UserRegex).nickname.pattern}" th:value="${user.nickname}">
                <button class="-object-button -color-blue" name="nicknameCheckButton" type="button" disabled>중복 확인</button>
            </span>
                <span class="--warning">닉네임 중복을 확인해 주세요.</span>
            </label>

            <label class="-object-label">
                <span class="--caption">생년월일/성별</span>
                <span class="--row">
                    <input required autocomplete="off" class="-object-field" name="birth" type="date"
                           th:pattern="${T(com.dev.rebook.regexes.UserRegex).birth.pattern}" th:value="${user.birth}">
                    <span class="-object-radio-group">
                        <label class="--radio-selector">
                            <input type="radio" name="gender" value="M" th:checked="${user.gender == 'M'}">
                            <span class="caption">남</span>
                        </label>
                        <label class="--radio-selector">
                            <input type="radio" name="gender" value="F" th:checked="${user.gender == 'F'}">
                            <span class="caption">여</span>
                        </label>
                    </span>
                    <span class="-flex-stretch" role="none"></span>
                </span>
                <span class="--warning">생년월일을 입력해 주세요.</span>
            </label>

            <label class="-object-label">
                <span class="--caption">연락처</span>
                <span class="--row">
                    <select required class="-object-field" name="contactMvno">
                        <option disabled hidden selected value="-1">통신사</option>
                        <option th:each="mvon:${contactMvnos}" th:value="${mvon.code}"
                                th:text="${mvon.displayText}" th:selected="${user.contactMvnoCode == mvon.code}"></option>
                    </select>
                    <select required class="-object-field -flex-stretch" name="contactFirst">
                        <option value="010" th:checked>010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="019">019</option>
                    </select>
                    <input required class="-object-field tel-input" maxlength="4" minlength="3" name="contactSecond"
                           placeholder="0000" type="text"
                           th:pattern="${T(com.dev.rebook.regexes.UserRegex).contactSecondRegex.pattern}" th:value="${user.contactSecond}">
                    <input required class="-object-field tel-input" maxlength="4" minlength="3" name="contactThird"
                           placeholder="0000" type="text"
                           th:pattern="${T(com.dev.rebook.regexes.UserRegex).contactThirdRegex.pattern}" th:value="${user.contactThird}">
                    <button class="-object-button -color-blue" name="contactCheckButton" type="button" disabled>중복 확인</button>
                </span>
                <span class="--warning">연락처를 입력해 주세요.</span>
            </label>

            <label class="-object-label">
                <span class="--caption">주소</span>
                <span class="--row">
                    <input readonly required class="-object-field -flex-stretch" maxlength="5" minlength="5" name="addressPostal"
                           placeholder="우편 번호(주소 찾기 버튼을 클릭해 주세요.)" th:value="${user.addressPostal}">
                    <button class="-object-button -color-blue" name="addressFindButton" type="button">주소 찾기</button>
                </span>
                <input readonly required class="-object-field -field" maxlength="100" minlength="10"
                       name="addressPrimary" placeholder="기본 주소 (주소 찾기 버튼을 클릭해 주세요.)" type="text" th:value="${user.addressPrimary}">
                <input required class="-object-field" maxlength="100" minlength="0" name="addressSecondary"
                       placeholder="상세 주소 (건물 이름, 동, 호)" type="text" th:value="${user.addressSecondary}">
                <span class="--warning">주소를 입력해 주세요.</span>
            </label>

            <label class="-object-label">
                <span class="--caption">관심 카테고리 선택</span>
                <span class="category-wrapper">
                    <label class="-object-category-label" th:each="category : ${categories}">
                        <input class="--input" type="radio" name="categoryId" th:value="${category.id}" th:checked="${user.categoryId == category.id}">
                        <span class="--caption" th:text="${category.displayText}"></span>
                    </label>
                </span>
                <span class="--warning">관심 카테고리 선택해 주세요.</span>
            </label>
        </div>

        <div class="button-container">
            <a href="/user/info" class="-object-button -color-black" data-rb-visible>
                <img alt="" class="--icon" src="/user/assets/images/register/register-form.cancel.png">
                <span class="--caption">취소</span>
            </a>
            <button class="-object-button -color-blue">
                <span class="--caption">수정하기</span>
            </button>
        </div>
    </form>
</div>
</body>
</html>