<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">
    <div class="logo">
        <a href="/user/login" class="title">
            Re<span class="subTitle">:view</span>Book
        </a>
    </div>
    <span role="none" class="-flex-stretch"></span>
    <ul class="menu">
        <li class="item">
            <a href="#" class="link">Search</a>
        </li>
        <li class="item">
            <a href="#" class="link">Review</a>
        </li>
        <li class="item">
            <a href="#" class="link">MYPage</a>
        </li>
    </ul>
    <span role="none" class="-flex-stretch"></span>
    <a href="/user/login" class="-object-button -color-blue">
        <span class="--caption">로그인</span>
    </a>
</header>
</html>