<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header id="header" th:fragment="header">
    <a href="#" class="logo">로고자리</a>
    <span class="-flex-stretch"></span>
    <ul class="menu">
        <li class="item">
            <a href="#" class="link">메뉴1</a>
        </li>
        <li class="item">
            <a href="#" class="link">메뉴2</a>
        </li>
        <li class="item">
            <a href="#" class="link">마이페이지</a>
        </li>
    </ul>
    <span class="-flex-stretch"></span>
    <button class="--object-button -color-blue" type="button">로그인</button>
</header>
</html>