body {
    width: 30rem;
    min-width: 30rem;
}

#reviewRegisterForm {
    width: 100%;

    box-sizing: border-box;
    padding: 1rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

#reviewRegisterForm > .title {
    font-size: 2rem;
    font-weight: 700;
}

#reviewRegisterForm > .caption {
    font-size: 1.625rem;
    font-weight: 600;
}

#reviewRegisterForm > .scope-area {
    position: relative;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: center;

    padding: 0.5rem 0.75rem;

    /*height: 2.5rem;*/
    /*width: 6.5rem;*/
}

#reviewRegisterForm > .scope-area > .star {
    width: 3.625rem;
    pointer-events: none;
}

#reviewRegisterForm > .scope-area > .pointer {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 5;
}

#reviewRegisterForm > .scope-guide {
    padding: 0.25rem 1rem 1rem 1rem;

    font-size: 1.625rem;
    font-weight: 700;
    text-align: center;

    border-bottom: 0.125rem solid #86b6f6;
    margin-bottom: 1rem;
}

#reviewRegisterForm > .-object-label > .-object-field {
    padding: 0.5rem 0.5rem;
    border: 0.0625rem solid #268dfa;
    border-radius: 0.5rem;
    outline: none;
    background-color: #f5f5f5;
    color: #272727;
    resize: none;
    overflow: auto;
}

#reviewRegisterForm > .-object-button {
    margin-top: 2rem;
    border-radius: 0.375rem;
}