@charset "UTF-8";

:root {
    --box-top-padding: 2rem;
    --box-right-padding: 2rem;
    --box-bottom-padding: 4rem;
    --box-left-padding: 2rem;
    /* 이미지 크기 */
    --box-width: 12.5rem;
    --box-height: 16rem;
}

#searchForm {
    margin-top: 1.5rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
}

#searchForm > .search {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    justify-content: flex-start;
}

#searchForm > .detail {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    justify-content: flex-start;
}

#result-container {
    padding: 3.5rem 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#result-container > .result {
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
}

#grid-container {
    padding: 3.5rem 3rem;
    display: grid;
    column-gap: 3.5rem;
    row-gap: 3.5rem;
    grid-template-columns: repeat(3, 1fr);
}

#grid-container > .item {
    /*height: 20rem;*/
    position: relative;
    border: 0.0625rem solid #f3f3f3;

    width: calc(12.5rem + var(--box-right-padding) + var(--box-left-padding));
    height: calc(22rem + var(--box-top-padding) + var(--box-bottom-padding));
}

#grid-container > .item > .item-bg-area {
    background-color: #eaeaea;
    margin-top: calc(var(--box-height) / 2 + var(--box-top-padding));
    width: 100%;
    height: calc(100% - (var(--box-height) / 2 + var(--box-top-padding)));
    z-index: -1;
    position: absolute;
}

#grid-container > .item > .detail {
    padding: var(--box-top-padding) var(--box-right-padding) var(--box-bottom-padding) var(--box-left-padding); /* 상, 우, 하, 좌 */

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: flex-start;
}

#grid-container > .item > .detail > .box {
    /*width: 100%;*/
    /*height: 100%;*/
    width: var(--box-width);
    height: var(--box-height); /* .item 값 확인 height: 16rem;  */

    border: 0.0625rem solid #f3f3f3;
}

#grid-container > .item > .detail > .box > .img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    transform: scale(1);
    transition-duration: 500ms;
    transition-property:  transform;
    transition-timing-function: ease-in-out;
}

#grid-container > .item > .detail > .box > .img:hover {
    transform: scale(1.1);

    transition-duration: 500ms;
    transition-property:  transform;
    transition-timing-function: ease-in-out;
}

#grid-container > .item > .detail > .title {
    font-size: 1rem;
    font-weight: 800;

    width: 100%;
    text-overflow: ellipsis;
    /*text-align: center;*/
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 라인수*/
    -webkit-box-orient: vertical
}

#grid-container > .item > .detail > .author {
    font-size: 0.875rem;
    font-weight: 400;
    color: #7a7c7e;


    width: 100%;
    text-overflow: ellipsis;
    /*text-align: center;*/
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 라인수*/
    -webkit-box-orient: vertical
}